@font-face {
    font-family: noto sans;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/NotoSansKR-Light.otf);
}

@font-face {
    font-family: noto sans;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: noto sans;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: noto sans;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/NotoSansKR-Bold.otf);
}

body {
    background-color: white;
    font-family: 'noto sans';
}

li {
    margin: 15px;
}

input {
    letter-spacing: -0.5px;
}

a {
    color: black;
    text-decoration: none !important;
}

.userMenu_p {
    font-size: 14px;
    cursor: pointer;
}

.userMenuJoin_p {
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #5f0080;
}

.userMenuRect_p {
    font-size: 12px;
}

.navMenu {
    padding: 15px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navMenu:hover {
    color: #5f0080;
}

.navMenu:hover > .navImg {
    background: url(../images/ico_gnb_all.png) no-repeat;
}

.navImg {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url(../images/ico_gnb_all_off.png) no-repeat;
    margin-bottom: 2px;
    margin-right: 8px;
    vertical-align: middle;
}

.input_search {
    position: absolute;
    right: 8px;
    top: 3px;
}

.input_text {
    width: 242px;
    height: 36px;
    padding: 0 60px 0 14px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f7f7f7;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 16px;
    outline: none;
}

.transitionDiv {
    width: 19000px;
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
    margin-bottom: 40px;
}

.subTitle {
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 600;
}

/* join.cshtml css start */
.joinTitle {
    width: 1050px;
    margin: 0 auto;
    padding: 50px 0px 51px;
}

.joinTitle h2 {
    font-weight: 700;
    font-size: 28px;
    color: #333;
    line-height: 35px;
    text-align: center;
    letter-spacing: -1px;
}

.memberInfos {
    width: 640px;
    margin: 0 auto;
}

.memberInfos th {
    width: 159px;
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
}

.sub {
    padding-bottom: 10px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
    border-bottom: 2px solid #333;
}

.ico {
    font-size: 10px;
    color: #ee6a7b;
}

.memberInfos input[type=text] {
    width: 332px;
    height: 44px;
    padding: 0 14px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    vertical-align: top;
}

.memberInfos input[type=text]:focus {
    border: 1px solid black;
}

.memberInfos .txt_guide {
    display: block;
    padding: 10px 0 9px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    word-break: break-all;
    letter-spacing: -1px;
    clear: both;
}

.memberInfos .txt_guide .txtCase1 {
    color: #b3130b;
}

.memberInfos .txt_guide .txtCase1::before {
    content: '\2715';
    display: inline-block;
    padding-right: 3px;
    font-size: 12px;
    vertical-align: 0;
}

.memberInfos .txt_guide .txtCase2::before {
    content: '\2715';
    display: inline-block;
    padding: 0 4px 0 2px;
    font-size: 12px;
    vertical-align: 0;
}

.memberInfos .b_btn {
    display: inline-block;
    width: 120px;
    height: 44px;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    outline: none;
}

.memberInfos .b_btn .default {
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080;
}
/* join.cshtml css end */

