<div class="position-absolute d-flex transitionDiv w-100" style="height: 370px; left:0px;">
    <div>
        <img src="~/images/2635c06f-5c63-455f-88c1-f0a5440ae04b.webp" />
    </div>
    <div>
        <img src="~/images/1ad85b84-f385-4a99-b662-37048582b1ff.jpeg" />
    </div>
</div>
