<link rel="stylesheet" href="~/lib/slick/slick.css" />
<link rel="stylesheet" href="~/lib/slick/slick-theme.css" />

<div class="position-absolute w-100" style="left: 0px;">
    <div id="slides">
        <div>
            <img src="~/images/03444c68-7e03-4f1a-ac42-1b56ff41bb1d.webp" />
        </div>
        <div>
            <img src="~/images/1ad85b84-f385-4a99-b662-37048582b1ff.jpeg" />
        </div>
        <div>
            <img src="~/images/2635c06f-5c63-455f-88c1-f0a5440ae04b.webp" />
        </div>
    </div>
    <div>
        <div class="pageNumber">
            0 / 0
        </div>
    </div>
</div>

<div class="text-center" style="padding-top: 32px;">
    <div class="pb-4">
        <h3 class="h3">이 상품 어때요?</h3>
    </div>
    <div id="subSlide1" style="width: 1296px">
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/1.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[라메종드아모린] 살레위드 솔티드 버터 캐러멜 2종</h6>
                <h6 class="fw-bold">7,900원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/2.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[닥터브로너스] 핸드 앤 바디로션 2종</h6>
                <h6 class="fw-bold">23,000원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/3.jpeg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[존쿡 델리미트] 캠핑 바베큐용 모듬 소시지 410g</h6>
                <h6 class="fw-bold">6,613원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/4.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[김소영 아티장의 안단테] 라퀘유 블루 도베르뉴</h6>
                <h6 class="fw-bold">9,180원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/5.jpeg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[고메] 크리스피 너겟</h6>
                <h6 class="fw-bold">6,735원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/6.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[김소영 아티장의 안단테] 델리시아 버팔로 부라타</h6>
                <h6 class="fw-bold">11,600원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/7.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[마마리] 바질페스토</h6>
                <h6 class="fw-bold">12,150원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/8.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[아넬라] 과일 퓨레 11종</h6>
                <h6 class="fw-bold">4,600원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/9.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[퓨어스펙] 블랙라벨 고당도 오렌지 1.2kg (4입/대과)</h6>
                <h6 class="fw-bold">10,600원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/10.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>친환경 청양고추 100g</h6>
                <h6 class="fw-bold">1,690원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/11.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[우리밀] 부침가루 & 튀김가루</h6>
                <h6 class="fw-bold">3,000원</h6>
            </div>
        </div>
        <div>
            <div>
                <a class="position-relative">
                    <img class="subImage mb-3 px-2" src="~/images/12.jpg" />
                    <img class="position-absolute" src="~/images/cart_white_45_45.svg" style="bottom: 15px; right: 25px;" />
                </a>
            </div>
            <div class="text-start px-2">
                <h6>[미셸클뤼젤] 사르딘느 정어리 초콜릿 2종</h6>
                <h6 class="fw-bold">13,000원</h6>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/slick/slick.min.js" async></script>
<script src="~/js/index.js" async></script>