<link rel="stylesheet" href="~/lib/slick/slick.css" />
<link rel="stylesheet" href="~/lib/slick/slick-theme.css" />

<div class="position-absolute w-100" style="left: 0px;">
    <div id="slides">
        <div>
            <img src="~/images/03444c68-7e03-4f1a-ac42-1b56ff41bb1d.webp" />
        </div>
        <div>
            <img src="~/images/1ad85b84-f385-4a99-b662-37048582b1ff.jpeg" />
        </div>
        <div>
            <img src="~/images/2635c06f-5c63-455f-88c1-f0a5440ae04b.webp" />
        </div>
    </div>
    <div>
        <div class="pageNumber">
            0 / 0
        </div>
    </div>
</div>

<script src="~/lib/slick/slick.min.js" async></script>
<script src="~/js/index.js" async></script>