<!DOCTYPE html>

<html lang="kr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마켓컬리 :: 내일의 장보기, 마켓컬리</title>

    <link rel="shortcut icon" href="~/images/ico_32.png" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    
</head>
<body>
    <header>
        <div class="container">
            <div class="d-flex justify-content-between pt-1" style="height: 30px;">
                <div class="float-start">
                    <a href="#">
                        <img src="~/images/delivery_210801.png" width="121" height="22" />
                    </a>
                </div>
    
                <div class="float-end"> 
                    <div class="d-flex" style="width: auto;">
                        <div class="text-center p-0">
                            <a asp-controller="Member" asp-action="Join" class="userMenuJoin_p">회원가입</a>
                        </div>
                        <div class="text-center px-2 pt-1">
                            <p class="userMenuRect_p">|</p>
                        </div>
                        <div class="text-center p-0">
                            <a asp-controller="Member" asp-action="Login" class="userMenu_p">로그인</a>
                        </div>
                        <div class="text-center px-2 pt-1">
                            <p class="userMenuRect_p">|</p>
                        </div>
                        <div class="text-center p-0">
                            <a class="userMenu_p">고객센터</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo_x2.png" width="103" height="79" />
                </a>
            </div>
            <div class="w-100">
                <ul class="nav">
                    <li class="pt-1 ps-0 ms-0">
                        <a class="navMenu">
                            <span class="navCategoryImage"></span>
                            <span class="fw-bold">전체 카테고리</span>
                        </a>
                    </li>
                    <li class="pt-1">
                        <a class="navMenu fw-bold">신상품</a>
                    </li>
                    <li class="pt-1">
                        <a class="navMenu fw-bold">베스트</a>
                    </li>
                    <li class="pt-1">
                        <a class="navMenu fw-bold">알뜰쇼핑</a>
                    </li>
                    <li class="pt-1">
                        <a class="navMenu fw-bold">특가/혜택</a>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <form class="d-flex position-relative">
                                <input class="input_text" type="text" placeholder="검색어를 입력하세요." />
                                <input class="input_search" src="~/images/ico_search_x2.png" type="image" />
                            </form>
                        </div>
                    </li>
                    <li>
                        <img class="navUserMenuImage navDeliveryImage" src="~/images/ico_delivery_setting.svg" />
                    </li>
                    <li>
                        <img class="navUserMenuImage navHeartImage" src="~/images/btn-heart-off.svg" />
                    </li>
                    <li>
                        <img class="navUserMenuImage navCartImage" src="~/images/ico_cart.svg" />
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container position">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - dotnetCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/bootstrap/js/bootstrap.min.js" async></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>