<div class="joinTitle">
    <h2>회원가입</h2>
    <div class="memberInfos">
        <p class="sub text-end">
            <span class="ico">*</span>
            필수 입력 사항
        </p>
        <form>
            <table>
                <tbody>
                    <tr>
                        <th>
                            아이디
                            <span class="ico">*</span>
                        </th>
                        <td>
                            <input type="text" placeholder="6자 이상의 영문 혹은 영문과 숫자를 조합" />
                            <a class="b_btn default">중복확인</a>
                            <p class="txt_guide">
                                <span class="txtCase1" style="display: block">6자 이상의 영문 혹은 영문과 숫자를 조합</span>
                                <span class="txtCase2">아이디 중복확인</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>