<div class="section_login">
    <h3 class="tit_login">로그인</h3>
    <div>
        <form method="post">
            <input class="login_input" type="text" placeholder="아이디를 입력해주세요" tabindex="1" />
            <input class="login_input mt-2" type="text" placeholder="비밀번호를 입력해주세요" tabindex="2" />
            <div class="d-inline-block my-2 float-end">
                <a class="font12 me-2">아이디 찾기</a>
                <a class="font12">비밀번호 찾기</a>
            </div>
            <div class="mt-4">
                <button class="btn_type1" type="submit">
                    <span class="txt_type">로그인</span>
                </button>
                <a class="btn_type2 mt-2">
                    <span class="txt_type color-5f0080">회원가입</span>
                </a>
            </div>
        </form>
    </div>
</div>